
@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>
<form method="post" asp-action="Login" asp-controller="Card">
    <label>Card Number:</label>
    <input type="text" name="cardNumber" required />
    <br />
    <label>Password:</label>
    <input type="password" name="password" required />
    <br />
    <button type="submit">Login</button>
</form>
@if (ViewBag.ErrorMessage != null)
{
        <p style="color:red;">@ViewBag.ErrorMessage</p>
}
